body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgb(137, 225, 245), rgb(238, 207, 130));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input {
  width: 282px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #701616;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.5s;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  color: #333;
}
